@model versity.data.Models.Restaurant
@using versity.data.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <h4>Menus</h4>
    <table class="table-bordered">
        <tr>
            <th>Name</th>
            <th>Active?</th>
        </tr>
        @foreach (Menu menu in Model.Menus)
        {
            <tr>
                <td>@Html.ActionLink(@menu.Name, "Details", "Menus", new { menuId = @menu.ID }, new {})</td>
                <td>@menu.Active</td>
            </tr>
        }
    </table>
    @Html.ActionLink("New Menu", "New", "Menus", new { restaurantId = Model.ID }, new { })
</div>
<p style="margin-top: 20px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
